/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


main,
header,
footer {
    width: 100%;
}

main,
footer {
    background: #ECEBDE;
    margin: 0 auto;
    padding: 25px 0;
}



/* Header styles */
h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 20px 0;
    color: #CD853F;
}

h2 {
    text-align: center;
    color: #414535;
}

.hidden {
    display: none;
}

#menu {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 2.9rem;
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
    margin: 0 auto;
    z-index: 10;
}

#menu.open {
    font-size: 2.0rem;
}

#menu::before {
    content: "☰";
    font-size: 3.5rem;
}

#menu.open::before {
    content: "X";
    font-size: 2.5rem;
}




/* Navigation styling */
.navigation {
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: x-large;
    display: block;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: x-large;
    align-items: center;
}


.navigation a:hover {
    color: #414535;
    background: #D7D3BF;
}


.navigation li a.active {
    font-weight: bold;
    color: maroon;
}


.navigation ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation.open ul {
    display: flex;
    flex-direction: column;
}


.navigation.open a {
    width: 100%;
}


.navigation.open {
    display: flex;
    flex-direction: column;
}

.active::before {
    content: "📍";
}




/* Main content styling */
.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 0 10px;
    margin: 0 auto;
}

.container img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.container section {
    background: lightgray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    min-width: 210px;
    max-width: 220px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    box-sizing: border-box;
}

figcaption {
    text-align: center;
    color: #414535;
}







/* Footer styling */
footer {
    background: #ECEBDE;
    color: black;
    text-align: center;
    grid-column: 1 / 4;
    padding: 25px 0;
    margin: auto;
    border-top: 1px solid lightgray;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}





/* Contact Form Style */
.contact {
    max-width: 400px;
    min-width: 220px;
    margin: 0 auto;
    text-align: center;
    background-color: #D7D3BF;
    padding: 10px 0;
}

.template {
    margin: 25px 0;
}

label,
input {
    margin: 5px 0;
}

label,
legend {
    font-size: 1.1em;
    display: block;
    text-align: left;
    margin-left: 5%;
}

.typing-box {
    text-align: left;
    width: 90%;
    height: 40px;
    font-size: 1em;
    appearance: none;
    border: none;
    border-radius: 0;
    padding: 10px;
}

.optional {
    color: blue;
}

textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-item input[type="checkbox"] {
    margin-left: 5%;
    margin-right: 0;
    transform: scale(1.7);
}

.template legend {
    margin-bottom: 10px;
}

.submit-btn {
    font-size: 1.3em;
    padding: 12px 24px;
    background: darkgray;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 6px;
    cursor: pointer;
    width: 90%;
}

.submit-btn:hover {
    background-color: lightsteelblue;
}







