body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    background-color: #96BBBB;
}

h1 {
    color: #414535;
    text-align: left;
    padding: 15px;
    align-items: center;
}

h2 {
    text-align: center;
    color: #414535;
}


#menu {
    font-size: 2.9rem;
    border: 0;
    background: none;
    color: #000;
    margin-left: auto;
    padding-right: 60px;
    
}

#menu.open {
    font-size: 2.9rem;
    border: 0;
    background: none;
    color: #000;
    position: relative;
    transform: translateY(-150%);
}


#menu::before {
    content: "☰";
}

#menu.open::before {
    /* content: "❎"; */
    content: "X";
    font-size: 2.0rem;
    
}



.hidden {
    display: none;
}


h1.hidden {
    display: block;
    visibility: hidden;
}

.navigation {
    display: none;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: #96BBBB;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: x-large;
    display: block;
    width: 100%;
    transition: background-color 0.3s;
    text-align: center;
}

.navigation a:hover {
    text-decoration: none;
    color: #414535;
    background-color: wheat;
}

.navigation.open {
    display: flex;
    flex-direction: column;
}

.active::before {
    content: "📍";
}


/* Style for the active link */
.navigation li a.active {
    font-weight: bold;
    color: orangered;
}



.container {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    box-sizing: border-box;
}


.container img {
    width: 350px;
}

.container section {
    background: lightgray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 70%;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}



figcaption {
    text-align: center;
    color: #414535;
}

footer {
    background: #96BBBB;
    color: #414535;
    text-align: center;
    grid-column: 1 / 4;
    padding: 0.2rem;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    margin-top: 25px;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

















