body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    background-color: #96BBBB;
    color: #414535;
    text-align: left;
}

h2 {
    text-align: center;
    color: #414535;
    background-color: #96BBBB;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: none;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: #F2E3BC;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: large;
    display: block;
    width: 100%;
    transition: background-color 0.3s;
    text-align: center;
}

.navigation a:hover {
    text-decoration: none;
    color: white;
    background-color: #A24857;
}

.navigation.open {
    display: flex;
    flex-direction: column;
}

.active::before {
    content: "📍";
}

.container {
    margin: auto;
    max-width: 990px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    box-sizing: border-box;
}

.container img {
    width: 400px;
}

figcaption {
    text-align: center;
    color: #414535;
}

footer {
    background: #96BBBB;
    color: #414535;
    text-align: center;
    grid-column: 1 / 4;
    padding: 0.2rem;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}