* {
    box-sizing: border-box;
}

header {
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 18px;
    background-color: #FCD116;
}


h1 {
    background-color: #CE1126; 
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0px;
    padding: 15px;
}


.hero {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 6px;
    background-color: #CE1126;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.data-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.data-box, .weather-box {
    margin: auto;
    text-align: center;
    max-width: 1200px;
    padding: 5px 0 20px 0;
}

.data-item, .weather-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.data-text, .weather-text {
    font-weight: bold;
    text-align: right;
    width: 50%;
}

.data-value, .weather-value {
    text-align: left;
    width: 50%;
    margin-left: 10px;
}


footer {
    background-color: #003F87;
    color: #FFFFFF;
    text-align: center;
    grid-column: 1 / 4;
    margin: auto;
    max-width: 1200px;
    padding: 5px;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}