@media screen and (min-width: 36em) {
    * {
        margin: 0;
        padding: 0;
    }

    .big-box {
        margin: auto;
        max-width: 1200px;
        min-height: 570px;
        background-image: url('../images/country-2.webp');
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
    }

    .hero {
        display: none;
    }
    
    .weather-header {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
    }

    .data-header, .weather-header {
        background-color: #FCD116;
        text-align: left;
        padding: 3px 20px;
        margin-right: 20px;
        margin-left: -10px;
    }

    .data-box {
        top: 50px;
        left: 25px;
    }

    .weather-box {
        bottom: 50px;
        right: 25px;
    }

    .data-box, .weather-box {
        width: 210px;
        padding-left: 3px;
        background-color: #FFFFFF;
        opacity: 0.8;
        box-sizing: border-box;
        position: absolute;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
    }

    .weather-icon {
        width: 30px;
        content: url('../images/weather-emoticon.svg');
    }

    .weather-icon img {
        display: none;
    }

    footer {
        padding: 18px;
    }

    footer p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }
}