@media screen and (min-width: 36em) {
    header {
        color: #414535;
        background: #F2E3BC;
        padding: 20px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    #menu {
        display: none;
    }

    h1,h2 {
        color: #618985;
        background-color: transparent;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .navigation a {
        padding: 4px 3px;
        font-size: larger;
    }

    .navigation a:hover {
        color: white;
        background-color: #A24857;
        border-radius: 5px;
    }

    .navigation.open {
        flex-direction: row;
    }

    .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    }

    footer {
        background: #F2E3BC;
    }

}



