body {
    background-color: #f0f0f0;
}

header {
    max-width: 990px;
    margin: auto;
    background: #F2E3BC;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    color: #618985;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.navigation a {
    color: #414535;
    text-decoration: none;
    padding: 10px 15px;
    font-size: large;
    transition: background-color 0.3s;
}

.navigation a:hover {
    color: white;
    background-color: #A24857;
    border-radius: 5px;
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 990px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    background-color: ;
    justify-items: center;
}

figcaption {
    text-align: center;
    color: #414535;
}

footer {
    background: #F2E3BC;
    color: #414535;
    text-align: center;
    grid-column: 1 / 4;
    padding: 0.2rem;
    margin: auto;
    max-width: 990px;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}