body {
    background-color: #f0f0f0;
}

header {
    max-width: 990px;
    margin: auto;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2E3BC;
    padding: 1 rem;
}

nav a {
    color: #414535;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

nav a:hover {
    color: white;
    background-color: #A24857;
    border-radius: 5px;
}

.container {
    margin: auto;
    max-width: 990px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    background-color: ;
    justify-items: center;
}

footer {
    background: #F2E3BC;
    color: #414535;
    text-align: center;
    grid-column: 1 / 4;
    padding: 0.2rem;
    margin: auto;
    max-width: 990px;
}